.section-gallery{
    width: 100%;
    padding: 5rem;
}
.heading-secondary{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    color: #33A3CE;
    padding: 1rem;
    /* border-bottom: 1px solid #000; */
    margin-bottom: 3rem;
}
.heading-tertiary{
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
    /* border-bottom: 1px solid #000; */
    margin-bottom: 3rem;
}
.first-edition{
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;    
    margin-bottom: 10px;
}
@media (max-width: 37.5em) {
    .first-edition {
        grid-template-columns: 1fr 1fr;    
    }
}
.paragraph{
    font-size: 1.6rem;
    padding: 1rem;
}
.book-cover{
    width:100%;
    height: 100%;
    margin-bottom: 0;
}